[Unit]
Description=Shows clock on an e-paper display
After=multi-user.target

[Service]
Type=idle
User=pi
Group=pi
ExecStart=/home/pi/projects/raspi_eink_clock/main.py


[Install]
WantedBy=multi-user.target